version: "3.8"

services:
  db:
    image: postgres:15
    container_name: gilmer_postgres
    environment:
      POSTGRES_DB: gilmerdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    container_name: gilmer_backend
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/gilmerdb
      PORT: 3000
    volumes:
      - .:/usr/src/app
    ports:
      - "3000:3000"
    depends_on:
      - db

volumes:
  pgdata:
    driver: local